<div class="card authcode-box">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="">
          <% case store_name %>
          <% when 'seven' %>
            <%= image_tag('seven_eleven.jpg', class: 'store-icon yx-center') %>
          <% when 'lawson', 'familymart', 'popura' %>
            <div class="yx-center" style="width: 100%;">
              <%= image_tag('family_mart.jpg', class: 'small-store-icon my-2') %>
              <%= image_tag('lawson.jpg', class: 'small-store-icon my-2') %>
              <%= image_tag('logo_popura.png', class: 'small-store-icon my-2') %>
            </div>
          <% when 'ministop' %>
            <%= image_tag('ministop.jpg', class: 'store-icon yx-center') %>
          <% when 'daily' %>
            <%= image_tag('daily.jpg', class: 'store-icon yx-center') %>
          <% end %>
        </div>
      </div>

      <div class="col-8 pl-3">
        <div class="text-center h3 authcode-form">
          <% case store_name %>
          <% when 'seven' %>
            <%= @xerox_code[:code].presence || '--------' %>
          <% when 'lawson', 'familymart', 'popura' %>
            <%= @sharp_code[:code].presence || '--------' %>
          <% when 'ministop' %>
            <%= @ricoh_code[:code].presence || '--------' %>
          <% when 'daily' %>
            <%= @kyocera_code[:code].presence || '--------' %>
          <% end %>
        </div>
        <div class="mb-2" style="border-bottom: 2px solid;"></div>
        <div class="text-center" style="font-size: 0.7rem;">
          有効期限:
          <span>
            <% case store_name %>
            <% when 'seven' %>
              <%= @xerox_code[:expiration_date].present? ? conversion_expiration_date(@xerox_code[:expiration_date]) : '----/--/-- --:--' %>
            <% when 'lawson', 'familymart', 'popura' %>
              <%= @sharp_code[:expiration_date].present? ? conversion_expiration_date(@sharp_code[:expiration_date]) : '----/--/-- --:--' %>
            <% when 'ministop' %>
              <%= @ricoh_code[:expiration_date].present? ? conversion_expiration_date(@ricoh_code[:expiration_date]) : '----/--/-- --:--' %>
            <% when 'daily' %>
              <%= @kyocera_code[:expiration_date].present? ? conversion_expiration_date(@kyocera_code[:expiration_date]) : '----/--/-- --:--' %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>