  <% content_for :title do %>
  認証コード
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1 class="m-0 text-dark">認証コード</h1>
          </div><!-- /.col -->
          <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= top_path %>">トップ</a></li>
              <li class="breadcrumb-item">名刺選択</a></li>
              <li class="breadcrumb-item">枚数選択</a></li>
              <li class="breadcrumb-item active">認証コード</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="offset-md-1 col-md-10">
          <div class="my-4" style="font-size: 0.8rem;">
            <span>ローソン・ファミリーマート・ポプラ以外のコンビニについては、最大で10分程お時間がかかります。<br>
            「販売終了もしくは、商品番号の入力が誤っている可能性があります。商品番号をご確認してください。」<br>
            が表示された場合、</span><span style="display: inline-block;">少し時間を空けて再度ご入力をお試しください。</span>

          </div>

          <%= render partial: 'authcode_form', locals: { store_name: 'seven' } %>
          <%= render partial: 'authcode_form', locals: { store_name: 'familymart' } %>
          <%= render partial: 'authcode_form', locals: { store_name: 'ministop' } %>
          <%= render partial: 'authcode_form', locals: { store_name: 'daily' } %>

          <br>

          <%= link_to 'TOP画面に戻る', top_path, class: 'btn btn-primary btn-block' %>

          <br>

        </div>
        <!-- /.col -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->

<script>
  sessionStorage.clear();
</script>
