<% content_for :title do %>
  登録メール再送信
<% end %>



<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <div class="login-box">
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <div class="card">
          <div class="my-card-title">
            <h4 class="h4 text-center">登録メールの再送信</h4>
          </div>

          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field form-group">
                <%= f.label :email, "メールアドレス", class: "label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                <div class="mt-2">
                  <small>
                    認証メールが<strong>@www.mymeishi.net</strong>から届きます。<br>
                    受信許可設定のご確認をお願いします。
                  </small>
                </div>
              </div>

              <div class="actions">
                <%= f.submit "メール再送信", class: "btn btn-primary" %>
              </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->
