<% content_for :title do %>
  新規登録
<% end %>



<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <section class="register-box">
        <div class="card">
          <div class="my-card-title">
            <h4>新規登録</h4>
          </div>
          <div class="card-body register-card-body">
            <%= form_for(resource, as: resource_name, url: patch_confirmation_path(resource_name)) do |f| %>
              <%= f.hidden_field :confirmation_token %>
              <%= devise_error_messages! %>

              <div class="field form-group">
                <%= f.label :email, "メールアドレス", class: "label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "入力必須", required: true %>
              </div>
              <div class="field form-group">
                <%= f.label :password, "パスワード", class: "label" %>
                <% if @minimum_password_length %>
                <span><%= "※#{@minimum_password_length}文字以上" %></span>
                <% end %><br />
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "入力必須", required: true %>
              </div>
              <div class="field form-group">
                <%= f.label :password_confirmation, "パスワード", class: "label" %><span>（確認）</span><br />
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "入力必須", required: true %>
              </div>

              <br>

              <div class="row actions">
                <%= f.submit "登録", id: "submitBtn", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->
