<% content_for :title do %>
  プライバシーポリシー
<% end %>

<main>
  <div class="wrapper">
    <section>
    <br>
    <h2 class="text-center">プライバシーポリシー</h2><br>
        <div class="container">
            <h3>●個人情報保護方針</h3>
            <p>株式会社サムライソード（以下、「当社」といいます）は、個人情報保護の重要性を認識しており、その取り扱いについて適用される法令、規範を遵守するとともに、本方針に基づき適切な取り扱いと管理に努めます。</p>
            <ol>
                <li>個人情報の収集・利用について<br>
                    当社はそれぞれの業務実態に応じた個人情報保護のための管理体制を確立するとともに、個人情報の収集、利用において所定の規則に従い適切に取り扱います。 </li>
                <br>
                <li>個人情報の取り扱いについて <br>
                    個人情報の利用に関する規程類を明文化し、役員ならびに従業員に教育・訓練いたします。</li>
                <br>
                <li>個人情報の管理・保護について <br>
                    当社は、ご提供いただいた個人情報の滅失、毀損、改ざん、流出、紛失、誤用等を防止するために、適切な安全管理措置を講じ、これを維持します。</li>
                <br>
                <li> 個人情報の第三者への提供について <br>
                    当社は、本人の同意を得ないで、個人情報を第三者に提供いたしません。ただし、法律等によって要求された場合は、この限りではありません。業務の遂行に必要な範囲で、個人情報を外部に委託する場合は、当社と同様の厳正な管理を実施させます。</li>
                <br>
                <li>個人情報の開示・修正・削除について <br>
                    当社は、個人情報について、ご本人から開示・訂正・削除等のお申し出があった場合、お申し出された方がご本人であることを確認させていただいたうえで、合理的な範囲内で遅滞なく対応させていただきます。</li>
                <br>
                <li>個人情報保護方針の見直し <br>
                    当社は、個人情報の取り扱いについて継続的な改善、向上に努め、本方針を適宜見直し、改善を図ります。</li>
            </ol>
            <p style="margin-top:2em;">2019年9月30日<br>
                株式会社サムライソード<br>
                代表取締役社長　比企良公</p>
        </div>
    </section>
    <br>
    <section>
        <div class="container">
            <h3>●個人情報の取扱いについて</h3>
            <ol>
                <li> 当社が取得・保有する個人情報の利用目的 <br>
                    当社は、商品・サービスの案内、賞品・プレゼントの発送、顧客アンケートの収集・広告配信を目的として、個人情報を取得いたします。なお、当社は、上記の業務を円滑に進めるため、外部委託先に業務の一部を委託することがあり、業務委託に必要な範囲で個人情報を提供することがあります。その場合、当社は、業務委託先との間で取り扱いに関する契約を結び、適切な監督を行います。</li>
                <br>
                <li>当社が保有する個人情報の第三者への開示・提供 <br>
                    当社は「1．利用目的」に記載した場合および以下のいずれかに該当する場合を除き、個人情報を第三者へ開示または提供いたしません。
                    <ol style="list-style:lower-alpha">
                        <li> ご本人の同意がある場合</li>
                        <li>法令に基づき開示・提供を求められた場合</li>
                        <li>人の生命、身体または財産の保護のために必要な場合であって、ご本人の同意を得ることが困難である場合</li>
                        <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難である場合</li>
                        <li>国の機関若しくは地方公共団体等が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
                        <li>次項「3. 」に掲げる者に対して提供する場合</li>
                    </ol>
                </li>
                <br>
                <li>当社が保有する個人情報の共同利用 <br>
                    当社が個人情報を共有するのは、当社の提携企業が個人情報の利用を希望する場合で、利用目的、は「1. 当社が取得・保有する個人情報の利用目的」の範囲内です。</li>
                <br>
                <li>当社が保有する個人情報の管理・保護について <br>
                    当社は、個人情報の滅失、毀損、改ざん、流出、紛失、誤用等を防止するために規程類を定め、役員ならびに従業員に周知・徹底を図るとともに、その遵守状況を適宜監査します。</li>
                <br>
                <li>当社が保有する個人情報の開示・修正・削除について <br>
                    当社は、個人情報について、ご本人から開示・訂正・削除等のお申し出があった場合、お申し出された方がご本人であることを確認させていただいたうえで、合理的な範囲内で遅滞なく対応させていただきます。 開示請求を希望される場合には、下記の個人情報保護問い合わせ窓口にご連絡ください。なお、開示請求にあたり、所定の手数料を徴収させていただきます。 開示請求に対する当社からの回答書は、原則ご本人へ郵送します。</li>
                <br>
                <li>個人情報に関するお問い合わせ窓口 <br>
                    当社における個人情報についてのご質問等につきましては、下記連絡先までお問い合わせください。 </li>
            </ol>
            <p style="margin-top:2em;">＜個人情報保護問い合わせ窓口＞ <br>
                株式会社サムライソード<br>
                東京都豊島区巣鴨2-4-2 岡田ビル401 <br>
                問合せメールアドレス：<a href="mailto:info@pic-chan.net">info@samuraisword.co.jp</a></p>
        </div>
    </section>
  </div>
</main>