<% content_for :title do %>
  アカウント編集
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1 class="m-0 text-dark">アカウント編集</h1>
          </div><!-- /.col -->
          <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= top_path %>">トップ</a></li>
              <li class="breadcrumb-item active">アカウント編集</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-2 col-md-8">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field form-group">
                <%= f.label :email, "メールアドレス", class: "label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "入力必須", required: true %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>メールアドレス変更の承認待ちです:&ensp;<br class="br-sp"> <%= resource.unconfirmed_email %></div><br>
              <% end %>

              <div class="field form-group">
                <%= f.label :current_password, "パスワード", class: "label" %>
                <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", class: "form-control", placeholder: "入力必須", required: true %>
              </div>

              <br>
              <div class="actions text-center">
                <%= f.submit "変更", class: 'btn btn-primary btn-block' %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
        <!-- /.row -->

        <hr>
        <div class="row">
          <div class="offset-md-2 col-md-8">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :email %>
              <div class="">
                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteUserConfirmation">アカウント削除</button>
              </div>
              <div class="actions text-center">
                <%= f.submit "アカウント削除", id: 'deleteUser', class: 'btn btn-danger btn-block', style: 'display: none;' %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper-->

<%= render partial: 'layouts/delete_user_modal' %>
