<% content_for :title do %>
  新規登録
<% end %>



<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <section class="register-box">
        <div class="card">
          <div class="my-card-title">
            <h4>新規登録</h4>
          </div>
          <div class="card-body register-card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field form-group">
                <%= f.label :email, "メールアドレス", class: "label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "入力必須", required: true %>
                <div class="mt-2">
                  <small>
                    認証メールが<strong>@www.mymeishi.net</strong>から届きます。<br>
                    受信許可設定のご確認をお願いします。
                  </small>
                </div>
              </div>

              <br>

              <div class="row actions">
                <%= f.submit "登録", id: "submitBtn", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->
