<!--bs-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!--icon-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!--jq-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!--bs-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<header>
  <div class="inner">
    <h1><img src="<%= image_path('lp/logo.png') %>" alt="コンビニ名刺プリント マイ名刺"></h1>
    <p>全国のコンビニで、<br class="d-inline-block d-sm-none">いつでも自分の<br class="d-inline-block d-sm-none">名刺をプリント！</p>
  </div>
</header>

<main>
  <div class="top_sentence">
    <div class="container">
      <img class="content-image" src="<%= image_path('lp/top_sentence.png') %>" alt="いつも使っている自分の名刺を登録しておくだけ！いざというときに助かる「マイ名刺」">
    </div>
  </div>
  <section id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2><img src="<%= image_path('lp/top.png') %>" alt="全国のコンビニエンスストア約58,000店舗でプリント可能 名刺がない！名刺を忘れた！そんなときに安心、登録無料！"></h2>
        </div>
        <div class="col-md-6"><img src="<%= image_path('lp/top_right.png') %>"></div>
      </div>
    </div>
  </section>

  <section id="firstStartLink">
    <div class="container">
      <div class="row">
        <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
          <a href="https://apps.apple.com/us/app/my名刺/id1514377880?l=ja&amp;ls=1">
            <img class="y-center ios-store" src="<%= image_path('lp/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg') %>">
          </a>
        </div>
        <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
          <a href="https://play.google.com/store/apps/details?id=com.mymeishi">
            <img class="y-center android-store" src="<%= image_path('lp/google-play-badge.png') %>">
          </a>
        </div>
        <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
          <a href="/top">
            <img class="y-center web-start" src="<%= image_path('lp/web_btn.png') %>">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="content-image" src="<%= image_path('lp/28.png') %>" alt='利用者は延べ28万人を突破！ リリース以来、多くのユーザ様にご好評いただいている"マイ名刺"が、ついにiOS版アプリをリリースしました！ iOS版では高度な名刺自動認識AIを搭載し、大幅に操作性が向上しました。 皆様の今後のビジネスシーンにおいて、頼もしいツールとなれるよう引き続き改善していきます。'>
        </div>
      </div>
    </div>
  </section>

  <div id="cvs">
    <div class="container">
      <div class="inner">
        <div class="logo"><img src="<%= image_path('lp/cvs.png') %>"></div>
        <div class="print"><img src="<%= image_path('lp/print.png') %>"></div>
      </div>
    </div>
  </div>

  <section id="movie">
    <div class="container-fluid" style="padding: 0 4%;">
      <div class="row">
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://youtube.com/embed/ofjcxWMKm2s?rel=0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-6 mt-5 mt-sm-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/549802306?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="デカ名刺PR動画_総集編">
            </iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="point">
    <div class="container">
      <h2 class="text-center"><img src="<%= image_path('lp/point_head.png') %>" alt="いつもの名刺を必要な時に必要な分だけプリントできるのは『マイ名刺』だけ！！"></h2>
      <div class="row">
        <div class="col-md-4 col-6">
          <img src="<%= image_path('lp/p1.png') %>">
        </div>
        <div class="col-md-4 col-6">
          <img src="<%= image_path('lp/p2.png') %>">
        </div>
        <div class="col-md-4 col-6">
          <img src="<%= image_path('lp/p3.png') %>">
        </div>
      </div>
    </div>
  </section>

  <section id="secondStartLink">
    <div class="container">
      <div class="row">
        <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
          <a href="https://apps.apple.com/us/app/my名刺/id1514377880?l=ja&amp;ls=1">
            <img class="y-center ios-store" src="<%= image_path('lp/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg') %>">
          </a>
        </div>
        <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
          <a href="https://play.google.com/store/apps/details?id=com.mymeishi">
            <img class="y-center android-store" src="<%= image_path('lp/google-play-badge.png') %>">
          </a>
        </div>
        <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
          <a href="/top">
            <img class="y-center web-start" src="<%= image_path('lp/web_btn.png') %>">
          </a>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>

  <section id="product">
    <div class="container-fluid" style="padding: 0 8%;">
      <h2 class="text-center"><img src="<%= image_path('lp/product_head.png') %>" alt="選べる2種類"><br><br></h2>
      <div class="row">
        <div class="col-6 col-sm-3 text-center">
          <img src="<%= image_path('lp/pro1.png') %>" style="width: 100%;"><br><br>
        </div>
        <div class="col-6 col-sm-3 text-center">
          <img src="<%= image_path('lp/pro2.png') %>" style="width: 100%;"><br><br>
        </div>
        <div class="col-6 col-sm-3 text-center">
          <img src="<%= image_path('lp/ld.png') %>" style="width: 100%;"><br><br>
        </div>
        <div class="col-6 col-sm-3 text-center">
          <img src="<%= image_path('lp/2ld.png') %>" style="width: 100%;"><br><br>
        </div>
      </div>
    </div>
  </section>

  <section id="cation">
    <div class="container">
      <h2 class="text-center">ご利用上の注意</h2>
      <p>
        本サービスはあくまでも名刺が必要なときの応急処置のためのものです。<br>
        写真用紙に名刺をプリントされるため、裏面には印刷されません。<br>
        ご利用の際には必要サイズにカットして頂く必要があります。<br>
        セブン-イレブンでは２Ｌ版のプリントは出来ません。<br>
        <br>
        また、各コンビニ複合機の仕様により色味などの差異が生じることがありますが、予めご了承の上、ご活用ください。
      </p>
    </div>
  </section>

  <section id="flow">
    <div class="container">
      <h2><img src="<%= image_path('lp/flow.png') %>" style="width: 100%"></h2><br><br>
      登録は「メールアドレス」と「パスワード」だけでOK！
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6">
          <img src="<%= image_path('lp/my1.png') %>">
          ❶まず名刺写真を撮るor画像をアップ<br><br>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <img src="<%= image_path('lp/my2.png') %>">
          ❷レイアウト確認とサイズの選択<br><br>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <img src="<%= image_path('lp/my3.png') %>">
          ❸プリント番号取得<br><br>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <img src="<%= image_path('lp/my4.jpg') %>">
          ❹コンビニで印刷<br><br>
        </div>
      </div>
      <br><br>
      <h4>今後のアップデート</h4>
      <p>
        ・アプリ絶賛開発中！<br>
        ・随時アップデートします！開発進行中！<br>
        ・ＳＮＳログイン対応も絶賛対応中！<br>
      </p>
      <section id="thirdStartLink">
        <div class="container">
          <div class="row">
            <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
              <a href="https://apps.apple.com/us/app/my名刺/id1514377880?l=ja&amp;ls=1">
                <img class="y-center ios-store" src="<%= image_path('lp/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg') %>">
              </a>
            </div>
            <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
              <a href="https://play.google.com/store/apps/details?id=com.mymeishi">
                <img class="y-center android-store" src="<%= image_path('lp/google-play-badge.png') %>">
              </a>
            </div>
            <div class="offset-2 col-8 offset-md-0 col-md-4 px-4">
              <a href="/top">
                <img class="y-center web-start" src="<%= image_path('lp/web_btn.png') %>">
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

<style>
  @charset "utf-8";

  body {
    overflow-x: hidden;
  }

  header {
    height: 90px;
    border-bottom: 4px solid #0078ff;
    padding: 15px 24px;
    background: #fff;
    width: 100%;
  }

  header img {
    height: 54px;
  }

  header .inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  header .inner p {
    padding: 0 10px 8px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }

  header .btn {
    position: absolute;
    right: 10px;
    bottom: 40%;
  }

  header .btn a {
    font-display: block;
    background: #0078ff;
    font-size: 18px;
    color: #fff;
    padding: 12px 24px;
  }

  .content-image {
    max-width: 100%;
  }

  .top_sentence {
    background: #f00250;
    padding: 32px 0;
  }

  .release-info {
    background: #fffccd;
    padding: 32px 0;
  }

  .row img {
    width: 100%;
  }

  .row>div {
    margin: inherit inherit 24px;
  }

  .use_link {
    margin: 24px 0 0;
    width: 300px;
    background: #f00;
    padding: .5em 1em;
    font-size: 24px;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
  }

  .use_link:hover {
    color: #fff;
    text-decoration: none;
    background: #f00c;
  }

  .how_use_link {
    margin: 12px 0 24px;
    width: 300px;
    background: #0078ff;
    padding: .5em 1em;
    font-size: 24px;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
  }

  .how_use_link:hover {
    color: #fff;
    text-decoration: none;
    background: #0078ffcc;
  }

  section {
    margin: 32px 0;
    padding: 32px 0;
  }

  #top {
    margin: 32px 0;
    padding: 0;
  }

  #cvs {
    background: #fff;
    border-top: solid 3px #0078ff;
    border-bottom: solid 3px #0078ff;
    position: relative;
  }

  @media screen and (min-width:992px) {
    #cvs {
      margin: 128px 0 64px 0;
      height: 140px;
    }

    #cvs .container>div {
      position: absolute;
      display: flex;
      align-items: flex-end;
      top: 36px;
      bottom: 30px;
    }

    #cvs .container>div>div {
      margin: 0 20px 0 0;
    }
  }

  @media screen and (max-width:991.98px) {
    #cvs {
      margin: 18px 0;
      height: auto;
    }

    #cvs .container img {
      width: 100%;
      padding: 18px 0;
    }

    #cvs .container>div>.print {
      display: none;
    }
  }

  #movie {
    margin: 32px 0;
    padding: 64px 0;
    background-color: #0078ff;
  }

  #movie2 {
    margin: 0;
    padding: 64px 0;
    background-color: #0078ff;
  }

  #point {
    padding: 32px 0 0;
  }

  #point h2 {
    margin: 0 0 3%;
  }

  #point h2 img {
    max-width: 100%;
  }

  #point .row>div {
    margin: 12px 0 0;
  }

  #product {
    margin: 0;
    padding: 0;
  }


  #flow {
    background: #666;
    padding: 32px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 32px 0 0;
  }

  footer {
    background: #4d4d4d;
    text-align: center;
    padding: 16px 0 4px;
  }

  footer p {
    font-size: 14px;
    color: #fff;
  }

  footer a {
    color: #fff;
    text-decoration: underline;
  }

  footer a:hover {
    color: #fff;
    text-decoration: none;
  }

  footer .copyright {
    font-size: 12px;
    color: #fff;
  }

  #how_use h2 {
    font-weight: 700;
  }

  #how_use .page_sc {
    margin: 12px 0;
  }

  #how_use .page_sc>div {
    margin: 12px 0 0;
  }

  #how_use .page_sc a img {
    width: 100%;
  }

  #resist h3 {
    background: #0d70e1;
    color: #fff;
    padding: 6px 12px;
  }

  #resist .row>div {
    margin: 12px 0 0;
  }

  #csv_how_use h3 {
    background: #00c918;
    color: #fff;
    padding: 6px 12px;
  }

  #payment h3 {
    background: #ff9c00;
    color: #fff;
    padding: 6px 12px;
  }

  #paper h3 {
    background: #ff1266;
    color: #fff;
    padding: 6px 12px;
  }

  .w-100max {
    max-width: 90%;
  }

  .fixed_btn {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .fixed_btn img {
    width: 300px;
  }

  .pc {
    display: block !important;
  }

  .sp {
    display: none !important;
  }

  @media only screen and (max-width: 797px) {
    .pc {
      display: none !important;
    }

    .sp {
      display: block !important;
    }

    .fixed_btn img {
      width: 160px;
    }
  }
</style>