<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <div class="text-danger">
            <%= message %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
