<% content_for :title do %>
  パスワード再設定
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <div class="register-box">
        <div class="register-logo logo-frame">
        </div>

        <div class="card">
          <div class="my-card-title">
            <h4>パスワード<br>リセットメール送信</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="mx-auto">
                パスワードリセットメールを<br>送信しました。<br>
                メールのURLからパスワードを<br>リセットしてください。
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="mx-auto">
                <%= button_to 'TOP', top_path, { method: :get, class: 'btn btn-block btn-primary px-5' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->