<% content_for :title do %>
  登録メール送信
<% end %>



<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <div class="login-box">
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <div class="card">
          <div class="my-card-title">
            <h4>メールを送信しました。</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="mx-auto h5" style="text-align: center;">
                メールに記載されたリンクより<br>本登録を行ってください。
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="mx-auto">
                <%= button_to 'TOP', top_path, { method: :get, class: 'btn btn-block btn-primary px-5' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->
