
マイ名刺のご利用ありがとうございます。

コンビニのプリンターで
以下の認証コードを入力して印刷が可能です。

────────────────────────────────────────────

【 セブン-イレブン 】

  認証コード： <%= @auth_code[:xerox][:code].presence || '--------' %>
  有効期限　： <%= @auth_code[:xerox][:expiration_date].present? ? @auth_code[:xerox][:expiration_date].to_s.in_time_zone.strftime('%Y/%m/%d %H:%M') : '----/--/-- --:--' %>


【 ローソン・ファミリーマート・ポプラ 】

  認証コード： <%= @auth_code[:sharp][:code].presence || '--------' %>
  有効期限　： <%= @auth_code[:sharp][:expiration_date].present? ? @auth_code[:sharp][:expiration_date].to_s.in_time_zone.strftime('%Y/%m/%d %H:%M') : '----/--/-- --:--' %>


【 ミニストップ 】

  認証コード： <%= @auth_code[:ricoh][:code].presence || '--------' %>
  有効期限　： <%= @auth_code[:ricoh][:expiration_date].present? ? @auth_code[:ricoh][:expiration_date].to_s.in_time_zone.strftime('%Y/%m/%d %H:%M') : '----/--/-- --:--' %>


【 デイリーヤマザキ 】

  認証コード： <%= @auth_code[:kyocera][:code].presence || '--------' %>
  有効期限　： <%= @auth_code[:kyocera][:expiration_date].present? ? @auth_code[:kyocera][:expiration_date].to_s.in_time_zone.strftime('%Y/%m/%d %H:%M') : '----/--/-- --:--' %>

────────────────────────────────────────────


SAMURAI SWORD inc.
