<% content_for :title do %>
  パスワード編集
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <div class="login-box">

        <div class="card">
          <div class="card-body login-box-body">
            <h2>パスワード変更</h2>
            <br>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="field form-group">
                <%= f.label :password, "新しいパスワード", class: "label" %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control', required: true %>
              </div>

              <div class="field form-group">
                <%= f.label :password_confirmation, "新しいパスワード（確認用）", class: "label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: true %>
              </div>
              <br>
              <div class="actions">
                <%= f.submit "パスワード変更", class: 'btn btn-primary btn-block' %>
              </div>
            <% end %>

            <br>

            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->