<% content_for :title do %>
  パスワード再発行
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <div class="login-box">
        <div class="card">
          <div class="my-card-title">
            <h4>パスワード再発行</h4>
          </div>
          <div class="card-body login-box-body">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field form-gropu">
                <%= f.label :email, 'メールアドレス', class: "label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
                <div class="mt-2">
                  <small>
                    認証メールが<strong>@www.mymeishi.net</strong>から届きます。<br>
                    受信許可設定のご確認をお願いします。
                  </small>
                </div>
              </div>
              <br>
              <div class="actions">
                <%= f.submit "パスワードリセットメール送信", class: 'btn btn-primary' %>
              </div>
            <% end %>

            <br>

            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->