<% content_for :title do %>
枚数選択
<% end %>

<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1 class="m-0 text-dark">枚数選択</h1>
          </div><!-- /.col -->
          <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= top_path %>">トップ</a></li>
              <li class="breadcrumb-item"><a href="<%= images_up_page_path %>">名刺選択</a></li>
              <li class="breadcrumb-item active">枚数選択</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <section id="nonImageData" style="display: none;">
          <div class="row my-4">
            <div class="offset-1 col-10">
              <div class="bg-danger p-4">
                画像が読み込めませんでした。<br>初めからやり直してください。
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-4 col-4">
              <a href="<%= top_path %>" class="btn btn-primary btn-block">TOPへ</a>
            </div>
          </div>
        </section>

        <section id="overImageData" style="display: none;">
          <div class="row my-4">
            <div class="offset-1 col-10">
              <div class="bg-danger p-4">
                画像サイズが大きすぎます。<br><br>
                解像度の設定を変更して撮影し直すか、編集ソフトなどで容量を小さくして再度お試しください。
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-4 col-4">
              <a href="<%= top_path %>" class="btn btn-primary btn-block">TOPへ</a>
            </div>
          </div>
        </section>

        <section id="sheetPreview" style="display: none;">
          <div class="row my-4">
            <div class="col-12 text-center">
              約1mm程度小さめに印刷されます。
            </div>
          </div>

          <div id="selectSheet" class="row my-3">
            <div class="col-6 col-md-3 text-center order-1 order-md-1">
              <label class="mr-2 select-size-label">
                <input class="mr-3 js-select-size" type="radio" value="1" name="size" id="size_1">
                L判(名刺2枚)
                <div><small><br><br class="br-sp"></small></div>
              </label>
              <div class="mb-5">
                <canvas id="sizeLPrintPreview" width="514" height="719"></canvas>
                <div style="display: none;">
                  <canvas id="sizeLSharp" width="1076" height="1568"></canvas>
                  <canvas id="sizeLRicoh" width="1076" height="1550"></canvas>
                  <canvas id="sizeLKyocera" width="1088" height="1548"></canvas>
                  <canvas id="sizeLXerox" width="1076" height="1568"></canvas>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3 text-center order-3 order-md-2">
              <label class="mr-2 select-size-label">
                <input class="mr-3 js-select-size" type="radio" value="2" name="size" id="size_2">
                2L判(名刺4枚)
                <div><small>※セブン-イレブンでは<br class="br-sp">印刷できません</small></div>
              </label>
              <div class="mb-5">
                <canvas id="size2LPrintPreview" width="1029" height="719"></canvas>
                <div style="display: none;">
                  <canvas id="size2LSharpLeft" width="1061" height="1568"></canvas>
                  <canvas id="size2LSharpRight" width="1067" height="1568"></canvas>
                  <canvas id="size2LRicohLeft" width="1059" height="1550"></canvas>
                  <canvas id="size2LRicohRight" width="1069" height="1550"></canvas>
                  <canvas id="size2LKyoceraLeft" width="1069" height="1548"></canvas>
                  <canvas id="size2LKyoceraRight" width="1069" height="1548"></canvas>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3 text-center order-2 order-md-3">
              <label class="mr-2 select-size-label">
                <input class="mr-3 js-select-size" type="radio" value="3" name="size" id="size_3">
                L判(デカ名刺)
                <div><small><br><br class="br-sp"></small></div>
              </label>
              <div class="mb-5">
                <canvas id="sizeLDecaPrintPreview" width="719" height="514"></canvas>
                <div style="display: none;">
                  <canvas id="sizeLDecaSharp" width="1568" height="1076"></canvas>
                  <canvas id="sizeLDecaRicoh" width="1550" height="1076"></canvas>
                  <canvas id="sizeLDecaKyocera" width="1548" height="1088"></canvas>
                  <canvas id="sizeLDecaXerox" width="1568" height="1076"></canvas>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3 text-center order-4 order-md-4">
              <label class="mr-2 select-size-label">
                <input class="mr-3 js-select-size" type="radio" value="4" name="size" id="size_4">
                2L判(デカ名刺)
                <div><small>※セブン-イレブンでは<br class="br-sp">印刷できません</small></div>
              </label>
              <div class="mb-5">
                <canvas id="size2LDecaPrintPreview" width="1029" height="719"></canvas>
                <div style="display: none;">
                  <canvas id="size2LDecaSharp" width="2128" height="1568"></canvas>
                  <canvas id="size2LDecaRicoh" width="2128" height="1550"></canvas>
                  <canvas id="size2LDecaKyocera" width="2138" height="1548"></canvas>
                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->

          <div class="row py-3">
            <div class="offset-md-3 col-md-6">
              <div class="form-check">
                <input type="checkbox" id="previewConfirm" class="form-check-input" disabled>
                <label class="form-check-label" for="previewConfirm">選択した用紙とプレビューを確認しました。</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="offset-md-3 col-md-6">
              <input type="button" name="commit" value="コードを発行する" id="issuePrintCode" class="btn btn-block btn-primary btn-lg" data-disable-with="コードを発行する" disabled>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="offset-md-3 col-md-6">
              <a href="<%= images_up_page_path %>">
                <button id="backButton" class="btn btn-block btn-secondary">戻る</button>
              </a>
              <br>
            </div>
          </div>
        </section>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper-->
<img id="localImage" src="" hidden>
<img id="printLogoImage" src="<%= image_path('print_logo.png') %>" hidden>

<div style="display: none;">
  <%= form_with url: code_auth_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :result_code, val: '' %>
  <%= f.submit '', id: 'redirectBtn' %>
  <% end %>
</div>

<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">送信失敗</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="text-center">送信に失敗しました。<br>初めからやり直してください。</div>
        <br>
      </div>
      <div class="modal-footer">
        <a href="<%= top_path %>">
          <button type="button" id="completeButton" class="btn btn-secondary">TOPへ</button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    if (sessionStorage.edit_picture) {
      // 400kB以下の画像のみ許可
      if (encodeURIComponent(sessionStorage.edit_picture).replace(/%../g, "x").length <= 409600) {
        $('#sheetPreview').show();
      } else {
        $('#overImageData').show();
        return;
      }
    } else {
      $('#nonImageData').show();
      return;
    }

    //// イメージの取得
    let image = document.getElementById("localImage");
    let logoImage = document.getElementById("printLogoImage");

    //// イメージが読み込まれた
    image.addEventListener("load", function() {
      sizeLPrintPreviewCanvasDraw(image, document.getElementById("sizeLPrintPreview").getContext("2d"), logoImage);
      sizeL2PrintPreviewCanvasDraw(image, document.getElementById("size2LPrintPreview").getContext("2d"), logoImage);
      sizeLDecaPrintPreviewCanvasDraw(image, document.getElementById("sizeLDecaPrintPreview").getContext("2d"), logoImage);
      size2LDecaPrintPreviewCanvasDraw(image, document.getElementById("size2LDecaPrintPreview").getContext("2d"), logoImage);
    });

    $("#localImage").attr("src", sessionStorage.edit_picture);
    let img = new Image(); //画像オブジェクト作成
    img.src = sessionStorage.edit_picture; //写真のパスを指定する

    $('#selectSheet input').on('change', function() {
      if ($('#selectSheet :checked').length == 1) {
        $('#previewConfirm').prop('disabled', false);
      } else {
        $('#previewConfirm').prop('disabled', true);
      }
    });

    $('#previewConfirm').on('change', function() {
      if ($('#selectSheet :checked').length == 1 && $('#previewConfirm').prop('checked')) {
        $('#issuePrintCode').prop('disabled', false);
      } else {
        $('#issuePrintCode').prop('disabled', true);
      }
    });

    $('#issuePrintCode').on('click', function() {
      $("body").LoadingOverlay('show', {
        zIndex: 999
      });
      let size = parseInt($("input[name='size']:checked").val());
      sendData(createSendParams(size));
    });
  });

  function createSendParams(size) {
    let sendParams = {
      trimming_file: sessionStorage.edit_picture,
      size: size,
      picture_id: "<%= @picture_id.presence || '' %>"
    };

    let image = document.getElementById("localImage");
    let logoImage = document.getElementById("printLogoImage");
    switch (size) {
      case 1:
        let sizeLSCanvas = document.getElementById("sizeLSharp").getContext("2d");
        sizeLSharpCanvasDraw(image, sizeLSCanvas, logoImage);
        sizeLSharpCanvasDrawLine(sizeLSCanvas);
        sendParams.print_file_sharp = document.getElementById("sizeLSharp").toDataURL("image/jpeg");

        let sizeLPrintRCanvas = document.getElementById("sizeLRicoh").getContext("2d");
        sizeLRicohCanvasDraw(image, sizeLPrintRCanvas, logoImage);
        sizeLRicohCanvasDrawLine(sizeLPrintRCanvas);
        sendParams.print_file_ricoh = document.getElementById("sizeLRicoh").toDataURL("image/jpeg");

        let sizeLPrintKCanvas = document.getElementById("sizeLKyocera").getContext("2d");
        sizeLKyoceraCanvasDraw(image, sizeLPrintKCanvas, logoImage);
        sizeLKyoceraCanvasDrawLine(sizeLPrintKCanvas);
        sendParams.print_file_kyocera = document.getElementById("sizeLKyocera").toDataURL("image/jpeg");

        let sizeLPrintXeroxCanvas = document.getElementById("sizeLXerox").getContext("2d");
        sizeLXeroxCanvasDraw(image, sizeLPrintXeroxCanvas, logoImage);
        sizeLXeroxCanvasDrawLine(sizeLPrintXeroxCanvas);
        sendParams.print_file_xerox = document.getElementById("sizeLXerox").toDataURL("image/jpeg");
        break;

      case 2:
        size2LSharpLeftCanvasDraw(image, document.getElementById("size2LSharpLeft").getContext("2d"), logoImage);
        size2LSharpRightCanvasDraw(image, document.getElementById("size2LSharpRight").getContext("2d"));
        sendParams.print_file_sharp_left = document.getElementById("size2LSharpLeft").toDataURL("image/jpeg");
        sendParams.print_file_sharp_right = document.getElementById("size2LSharpRight").toDataURL("image/jpeg");

        size2LRicohLeftCanvasDraw(image, document.getElementById("size2LRicohLeft").getContext("2d"), logoImage);
        size2LRicohRightCanvasDraw(image, document.getElementById("size2LRicohRight").getContext("2d"));
        sendParams.print_file_ricoh_left = document.getElementById("size2LRicohLeft").toDataURL("image/jpeg");
        sendParams.print_file_ricoh_right = document.getElementById("size2LRicohRight").toDataURL("image/jpeg");

        size2LKyoceraLeftCanvasDraw(image, document.getElementById("size2LKyoceraLeft").getContext("2d"), logoImage);
        size2LKyoceraRightCanvasDraw(image, document.getElementById("size2LKyoceraRight").getContext("2d"));
        sendParams.print_file_kyocera_left = document.getElementById("size2LKyoceraLeft").toDataURL("image/jpeg");
        sendParams.print_file_kyocera_right = document.getElementById("size2LKyoceraRight").toDataURL("image/jpeg");
        break;

      case 3:
        sizeLDecaSharpCanvasDraw(image, document.getElementById("sizeLDecaSharp").getContext("2d"), logoImage);
        sendParams.print_file_sharp = document.getElementById("sizeLDecaSharp").toDataURL("image/jpeg");

        sizeLDecaRicohCanvasDraw(image, document.getElementById("sizeLDecaRicoh").getContext("2d"), logoImage);
        sendParams.print_file_ricoh = document.getElementById("sizeLDecaRicoh").toDataURL("image/jpeg");

        sizeLDecaKyoceraCanvasDraw(image, document.getElementById("sizeLDecaKyocera").getContext("2d"), logoImage);
        sendParams.print_file_kyocera = document.getElementById("sizeLDecaKyocera").toDataURL("image/jpeg");

        sizeLDecaXeroxCanvasDraw(image, document.getElementById("sizeLDecaXerox").getContext("2d"), logoImage);
        sendParams.print_file_xerox = document.getElementById("sizeLDecaXerox").toDataURL("image/jpeg");
        break;

      case 4:
        size2LDecaSharpCanvasDraw(image, document.getElementById("size2LDecaSharp").getContext("2d"), logoImage);
        sendParams.print_file_sharp = document.getElementById("size2LDecaSharp").toDataURL("image/jpeg");

        size2LDecaRicohCanvasDraw(image, document.getElementById("size2LDecaRicoh").getContext("2d"), logoImage);
        sendParams.print_file_ricoh = document.getElementById("size2LDecaRicoh").toDataURL("image/jpeg");

        size2LDecaKyoceraCanvasDraw(image, document.getElementById("size2LDecaKyocera").getContext("2d"), logoImage);
        sendParams.print_file_kyocera = document.getElementById("size2LDecaKyocera").toDataURL("image/jpeg");

        break;

      default:
        break;
    }
    return sendParams;
  }

  function sendData(sendParams) {
    $.ajax({
      url: '<%= api_v1_code_auth_path %>',
      type: "<%= @picture_id.present? ? 'put' : 'post' %>",
      data: sendParams
    }).done(function(data) {
      $('#result_code').val(JSON.stringify(data.result));
      $('#redirectBtn').trigger('click');
    }).fail(function(data) {
      $('#failModal').modal('show');
      $("body").LoadingOverlay('hide');
    });
  }
</script>