<% content_for :title do %>
  新規登録
<% end %>



<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <section class="register-box">
        <div class="card">
          <div class="my-card-title">
            <h4>ユーザー情報の登録が<br>完了しました。</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="mx-auto">
                <%= button_to 'TOP', top_path, { method: :get, class: 'btn btn-block btn-primary px-5' } %>
              </div>
            </div>
            <br>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->
