<% content_for :title do %>
  ログイン
<% end %>



<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
    <div class="content">
      <div class="login-box">
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <div class="card">
          <div class="my-card-title">
            <h4>ログイン</h4>
          </div>
          <div class="card-body login-box-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field form-group">
                <%= f.label :email,"メールアドレス", class: "label" %><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
              </div>
              <div class="field form-group">
                <%= f.label :password, "パスワード", class: "label" %><br>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true %>
              </div>
              <br>
              <div class="actions">
                <%= f.submit "ログイン", class: "btn btn-primary" %>
                <% if devise_mapping.rememberable? -%>
                  <span class="field ml-3">
                    <%= f.check_box :remember_me %>
                    <%= f.label "保存する" %>
                  </span>
                <% end %>
              </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
<!--
            <br>
            <div class="text-center">
              <small>持っているアカウントでログイン</small>
            </div>
            <div class="row mt-3">
              <div class="offset-2 col-8">
                <div class="row">
                  <div class="col-6">
                    <div class="text-center">
                      <a href="#">
                        <%= image_tag('Twitter_Social_Icon_Circle_Color.png',  class: "sns-icon-box") %>
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="text-center">
                      <a href="#">
                        <%= image_tag('f_logo_RGB-Blue_144.png',  class: "sns-icon-box") %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.wrapper-->
