function changePreview(element) {
  //ファイルオブジェクトを取得する
  let file = element.target.files[0];
  let reader = new FileReader();
  if (file) {
    //画像でない場合は処理終了
    if (file.type.indexOf('image') < 0) {
      alert('画像ファイルを指定してください。');
      $('#trimmingForm').hide();
      $('#myFileText').val('');
      return false;
    }
    //アップロードした画像を設定する
    reader.onload = function () {
      $('#inputImage').attr('src', this.result);
      $('#myFileText').val(file.name);
      <% if @app_flag.present? %>
        appCreateCanvas(this.result);
      <% else %>
          createCanvas(this.result);
      <% end %>
    };
    reader.readAsDataURL(file);
    $('#trimmingForm').show();
  } else {
    $('#trimmingForm').hide();
    $('#myFileText').val('');
  }
}

function contrastBar() {
  $('#contrastSlider').slider({
    value: 0,
    min: 0,
    max: 1,
    step: 0.01,
    slide: function (event, ui) {
      $('#amount2').val(ui.value);
      contrast = ui.value;
      canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
    }
  });
}

function brightnessBar() {
  $('#brightnessSlider').slider({
    value: 0,
    min: 0,
    max: 1,
    step: 0.01,
    slide: function (event, ui) {
      $('#amount').val(ui.value);
      brightness = ui.value;
      canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
    }
  });
}

function createCanvas(image) {
  let img = new Image();

  img.onload = function () {
    $('#editImage').html('');
    imageWidth = img.naturalWidth;
    imageHeight = img.naturalHeight;

    editWidth = Math.round($('#editImage').width());
    editHeight = Math.round((imageHeight * 1000) / (Math.round(imageWidth / editWidth * 1000)));

    setPoint();

    $('#inputImage').attr('width', editWidth);
    $('#inputImage').attr('height', editHeight);
    $('#editImage').append(`<canvas id="baseImagePreview" width="${editWidth}" height="${editHeight}"></canvas>`);
    $('#editImage').append(`<canvas id="cutLine" width="${editWidth}" height="${editHeight}"></canvas>`);
    $('#editImage').append(`<canvas id="cutPoint" width="${editWidth}" height="${editHeight}"></canvas>`);

    canvas = fx.canvas();
    canvas.setAttribute('id', 'previewEdit');

    texture = canvas.texture(document.getElementById('inputImage'));
    canvas.draw(texture).update();
    $('#baseImage').html('');
    $('#baseImage').append(canvas);

    originalImageCanvasLoad(img);
    glfxEdit(img);
    adjustPreviewCanvasSize();
    drawRotateCanvas(img);
  };

  img.src = image;
}

function setPoint() {
  points['leftTopX'] = editWidth / 4;
  points['leftTopY'] = editHeight / 4;
  points['rightTopX'] = editWidth / 4 * 3;
  points['rightTopY'] = editHeight / 4;
  points['rightUnderX'] = editWidth / 4 * 3;
  points['rightUnderY'] = editHeight / 4 * 3;
  points['leftUnderX'] = editWidth / 4;
  points['leftUnderY'] = editHeight / 4 * 3;
}

function drawLine() {
  $('#cutLine').clearCanvas();
  $('#cutLine').drawLine({
    strokeStyle: 'red',
    strokeWidth: 1,
    x1: points['leftTopX'], y1: points['leftTopY'],
    x2: points['rightTopX'], y2: points['rightTopY'],
    x3: points['rightUnderX'], y3: points['rightUnderY'],
    x4: points['leftUnderX'], y4: points['leftUnderY'],
    closed: true
  });
}

function adjustCanvasSize($parentSelector, $childSelector) {
  $childSelector.width($parentSelector.width());
}

function adjustPreviewCanvasSize() {
  let previewWidth = $('#baseImage').width();
  let previewHeight = Math.round((previewWidth * 1000) / 1654); // 名刺サイズの比率(1.654)で高さを計算
  $('#previewEdit').width(previewWidth);
  $('#previewEdit').height(previewHeight);
}

function glfxEdit(image) {
  afterArr = [];

  drawLine();

  $('#baseImagePreview').drawImage({
    source: image,
    fromCenter: false,
    layer: true,
    width: editWidth,
    height: editHeight,
    load: function () {
      $('#cutPoint').drawArc({
        layer: true,
        strokeStyle: '#c33',
        radius: 10,
        x: points['leftTopX'],
        y: points['leftTopY'],
        draggable: true,
        name: afterArr.length,
        drag: function (layerA) {
          afterArr[0] = layerA.eventX;
          afterArr[1] = layerA.eventY;
          canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
          points['leftTopX'] = layerA.eventX;
          points['leftTopY'] = layerA.eventY;
          drawLine();

        }
      });
      afterArr.push(points['leftTopX'], points['leftTopY']);

      $('#cutPoint').drawArc({
        layer: true,
        strokeStyle: '#c33',
        radius: 10,
        x: points['rightTopX'],
        y: points['rightTopY'],
        draggable: true,
        name: afterArr.length,
        drag: function(layerB) {
          afterArr[2] = layerB.eventX;
          afterArr[3] = layerB.eventY;
          canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
          points['rightTopX'] = layerB.eventX;
          points['rightTopY'] = layerB.eventY;
          drawLine();

        }
      });
      afterArr.push(points['rightTopX'], points['rightTopY']);

      $('#cutPoint').drawArc({
        layer: true,
        strokeStyle: '#c33',
        radius: 10,
        x: points['rightUnderX'],
        y: points['rightUnderY'],
        draggable: true,
        name: afterArr.length,
        drag: function(layerC) {
          afterArr[4] = layerC.eventX;
          afterArr[5] = layerC.eventY;
          canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
          points['rightUnderX'] = layerC.eventX;
          points['rightUnderY'] = layerC.eventY;
          drawLine();

        }
      });
      afterArr.push(points['rightUnderX'], points['rightUnderY']);

      $('#cutPoint').drawArc({
        layer: true,
        strokeStyle: '#c33',
        radius: 10,
        x: points['leftUnderX'],
        y: points['leftUnderY'],
        draggable: true,
        name: afterArr.length,
        drag: function (layerD) {
          afterArr[6] = layerD.eventX;
          afterArr[7] = layerD.eventY;
          canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
          points['leftUnderX'] = layerD.eventX;
          points['leftUnderY'] = layerD.eventY;
          drawLine();

        }
      });
      afterArr.push(points['leftUnderX'], points['leftUnderY']);

      // 初期ロード時点で座標点で囲われた画像を描画する
      canvas.draw(texture).perspective(afterArr, [0, 0, editWidth, 0, editWidth, editHeight, 0, editHeight]).brightnessContrast(brightness, contrast).update();
    }
  });
}

function originalImageCanvasLoad(image) {
  originalCanvas = fx.canvas();
  originalCanvas.setAttribute('id', 'originalImageCanvas');
  originalTexture = originalCanvas.texture(image);
  originalCanvas.draw(originalTexture).update();
}

function sizeConversion() {
  let width = imageWidth / ($('#baseImagePreview').width());
  let height = imageHeight / ($('#baseImagePreview').height());
  return { width: width, height: height };
}

function confirmTrimming() {
  let sizeArray = checkOS();

  originalCanvas.draw(originalTexture).perspective(sizeArray, [0, 0, imageWidth, 0, imageWidth, imageHeight, 0, imageHeight]).brightnessContrast(brightness, contrast).update();
  base64Image = originalCanvas.toDataURL('image/jpeg');
  ImgB64Resize();
}

function checkOS() {
  let sizeArray = [];
  let ratio = sizeConversion();

  if (OS.match(/iPhone|iPad/)) {
    sizeArray.push(afterArr[6] * ratio['width']);
    sizeArray.push(afterArr[7] * ratio['height']);
    sizeArray.push(afterArr[4] * ratio['width']);
    sizeArray.push(afterArr[5] * ratio['height']);
    sizeArray.push(afterArr[2] * ratio['width']);
    sizeArray.push(afterArr[3] * ratio['height']);
    sizeArray.push(afterArr[0] * ratio['width']);
    sizeArray.push(afterArr[1] * ratio['height']);
  }
  else if (OS.match(/Mac|PPC/)) {
    if (window.navigator.userAgent.indexOf('Chrome') != -1) {
      sizeArray.push(afterArr[0] * ratio['width']);
      sizeArray.push(afterArr[1] * ratio['height']);
      sizeArray.push(afterArr[2] * ratio['width']);
      sizeArray.push(afterArr[3] * ratio['height']);
      sizeArray.push(afterArr[4] * ratio['width']);
      sizeArray.push(afterArr[5] * ratio['height']);
      sizeArray.push(afterArr[6] * ratio['width']);
      sizeArray.push(afterArr[7] * ratio['height']);
    } else {
      sizeArray.push(afterArr[6] * ratio['width']);
      sizeArray.push(afterArr[7] * ratio['height']);
      sizeArray.push(afterArr[4] * ratio['width']);
      sizeArray.push(afterArr[5] * ratio['height']);
      sizeArray.push(afterArr[2] * ratio['width']);
      sizeArray.push(afterArr[3] * ratio['height']);
      sizeArray.push(afterArr[0] * ratio['width']);
      sizeArray.push(afterArr[1] * ratio['height']);
    }
  }
  else {
    sizeArray.push(afterArr[0] * ratio['width']);
    sizeArray.push(afterArr[1] * ratio['height']);
    sizeArray.push(afterArr[2] * ratio['width']);
    sizeArray.push(afterArr[3] * ratio['height']);
    sizeArray.push(afterArr[4] * ratio['width']);
    sizeArray.push(afterArr[5] * ratio['height']);
    sizeArray.push(afterArr[6] * ratio['width']);
    sizeArray.push(afterArr[7] * ratio['height']);
  }
  return sizeArray;
}

function resetForm() {
  $('#myFileText').val('');
  $('#fileForm').hide();
  $('#myFileParent').html('');
  $('#myFileParent').html('ファイルを選択<input id="myFile" type="file" accept="image/*" enctype="multipart/form-data" style="display: none;"/>');
}

function rotateAngle(value) {
  imageAngle = imageAngle + value;
  if (360 < imageAngle) {
    imageAngle - 360;
  } else if ((-360) > imageAngle) {
    imageAngle + 360;
  }
  rotateImageCanvas();
}

function rotateImageCanvasRight() {
  let rotateCanvas = document.getElementById('rotateCanvas');
  let rotateContext = rotateCanvas.getContext('2d');
  let cw = rotateCanvas.width;
  let ch = rotateCanvas.height;
  let myImage = new Image();
  let changeFile = null;

  myImage.onload = function () {
    rotateCanvas.width = ch;
    rotateCanvas.height = cw;
    cw = rotateCanvas.width;
    ch = rotateCanvas.height;
    rotateContext.save();
    rotateContext.translate(cw, ch / cw);
    rotateContext.rotate(90 * Math.PI / 180);
    rotateContext.drawImage(myImage, 0, 0);
    rotateContext.restore();
    $('#cutPoint').remove();
    $('#baseImagePreview').remove();
    $('#cutLine').remove();
    changeFile = rotateCanvas.toDataURL('image/jpeg');
    $('#inputImage').attr('src', changeFile);
    createCanvas(changeFile);
  };
  myImage.src = rotateCanvas.toDataURL('image/jpeg');
}

function rotateImageCanvasLeft() {
  let rotateCanvas = document.getElementById('rotateCanvas');
  let rotateContext = rotateCanvas.getContext('2d');
  let cw = rotateCanvas.width;
  let ch = rotateCanvas.height;
  let myImage = new Image();
  let changeFile = null;

  myImage.onload = function () {
    rotateCanvas.width = ch;
    rotateCanvas.height = cw;
    cw = rotateCanvas.width;
    ch = rotateCanvas.height;
    rotateContext.save();
    rotateContext.translate(cw / ch, ch);
    rotateContext.rotate(-90 * Math.PI / 180);
    rotateContext.drawImage(myImage, 0, 0);
    rotateContext.restore();
    changeFile = rotateCanvas.toDataURL('image/jpeg');
    $('#inputImage').attr('src', changeFile);
    createCanvas(changeFile);
  };
  myImage.src = rotateCanvas.toDataURL('image/jpeg');
}

function ResetCanvas() {
  let rotateCanvas = document.getElementById('rotateCanvas');
  let myImage = new Image();
  let changeFile = null;

  myImage.onload = function () {
    changeFile = rotateCanvas.toDataURL('image/jpeg');
    $('#inputImage').attr('src', changeFile);
    createCanvas(changeFile);
  };
  myImage.src = rotateCanvas.toDataURL('image/jpeg');
}

function drawRotateCanvas(image) {
  $('#rotateCanvas').attr('width', imageWidth);
  $('#rotateCanvas').attr('height', imageHeight);
  let c = document.getElementById('rotateCanvas').getContext('2d');
  c.drawImage(image, 0, 0);
}

function clickStartCamera() {
  if (typeof nativeApp != 'undefined') {
    nativeApp.startCamera();
  } else if (typeof window.webkit != 'undefined') {
    window.webkit.messageHandlers.startCamera.postMessage('');
  }
}

function receiveImage(cameraData) {
  let data = JSON.parse(cameraData);
  if(data.image){
    $('#inputImage').attr('src', data.image);
    $('#myFileText').val(data.name);
    appCreateCanvas(data.image);
    $('#trimmingForm').show();
    $('#fileForm').show();
  } else {
    $('#trimmingForm').hide();
    $('#myFileText').val('');
    $('#fileForm').hide();
  }
}

function appCreateCanvas(image) {
  let img = new Image();

  img.onload = function () {
    $('#baseImage').html('');
    imageWidth = img.naturalWidth;
    imageHeight = img.naturalHeight;

    editWidth = Math.round($('#baseImage').width());
    editHeight = Math.round((imageHeight * 1000) / (Math.round(imageWidth / editWidth * 1000)));

    $('#inputImage').attr('width', editWidth);
    $('#inputImage').attr('height', editHeight);

    canvas = fx.canvas();
    canvas.setAttribute('id', 'previewEdit');

    texture = canvas.texture(document.getElementById('inputImage'));
    canvas.draw(texture).update();
    $('#baseImage').append(canvas);

    originalImageCanvasLoad(img);
    adjustPreviewCanvasSize();
  };

  img.src = image;
}

function appConfirmTrimming() {
  originalCanvas.draw(originalTexture).brightnessContrast(brightness, contrast).update();
  base64Image = originalCanvas.toDataURL('image/jpeg');
  ImgB64Resize();
}

function appBrightnessBar() {
  $('#brightnessSlider').slider({
    value: 0,
    min: 0,
    max: 1,
    step: 0.01,
    slide: function (event, ui) {
      $('#amount').val(ui.value);
      brightness = ui.value;
      canvas.draw(texture).brightnessContrast(brightness, contrast).update();
    }
  });
}

function appContrastBar() {
  $('#contrastSlider').slider({
    value: 0,
    min: 0,
    max: 1,
    step: 0.01,
    slide: function (event, ui) {
      $('#amount2').val(ui.value);
      contrast = ui.value;
      canvas.draw(texture).brightnessContrast(brightness, contrast).update();
    }
  });
}
