<% content_for :title do %>
  問い合わせ
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1 class="m-0 text-dark">問い合わせ</h1>
          </div><!-- /.col -->
          <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= top_path %>">トップ</a></li>
              <li class="breadcrumb-item active">問い合わせ</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="offset-md-2 col-md-8">
            <p class="ml-4">ご意見・ご要望がございましたら<br>以下のフォームからお問い合わせください。</p>
            <br>
            <br>
            <%= form_with model: @inquiry do |f| %>

              <div class="form-row">
                <%= f.label :inquiry_type, '問い合わせ種別：', class: "col-form-label" %>
                <div class="ml-2">
                  <%= f.select :inquiry_type, [[Inquiry::BUG_STRING, Inquiry::BUG], [Inquiry::REQUEST_STRING, Inquiry::REQUEST], [Inquiry::OTHER_STRING, Inquiry::OTHER]], { prompt: "選択してください" }, { class: "form-control", required: true } %>
                </div>
              </div>

              <hr>

              <div class="form-group mt-2">
                <%= f.label :email, 'Eメールアドレス', class: 'label' %>
                <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
              </div>

              <div class="form-group mt-4">
                <%= f.label :content, 'お問い合わせ内容 ※400字以内', class: 'label' %>
                <%= f.text_area :content, rows: "6", class: 'form-control', required: true, maxlength: '400' %>
              </div>

              <div class="offset-3 col-6 mt-5 pr-0">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#sendConfirmation">送信</button>
              </div>
              <%= f.submit '送信', class: "btn btn-primary btn-block", style: 'display: none;' %>
            <% end %>
            <br>
            <br>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<!-- ./wrapper -->

<div class="modal fade" id="sendConfirmation" tabindex="-1" role="dialog" aria-labelledby="sendConfirmation" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="text-center">問い合わせを送信します。</div>
        <br>
      </div>
      <div class="modal-footer">
        <button id="sendButton" type="button" class="btn btn-primary px-4">送信</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">完了</h5>
      </div>
      <div class="modal-body">
        <br>
        <div class="text-center">お問い合わせ内容を送信しました。</div>
        <br>
        <div class="text-center">
          <a href="<%= top_path %>" id="sendButton" class="btn btn-primary px-4">TOPに戻る</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#sendButton').on('click', function(){
      sendForm()
    });

    $(document).on('ajax:success', 'form', function(data){
      if(data.detail[0].result == true){
        $('#completeModal').modal('show');
      }else{
        alert('送信に失敗しました。しばらくしてから再度お試しください。')
      }
    });
    $(document).on('ajax:error', 'form', function(data){
      alert('送信に失敗しました。しばらくしてから再度お試しください。')
    });
  });

  function sendForm(){
    $('#sendConfirmation').modal('hide');
    $('#sendConfirmation').on('hidden.bs.modal', function(){
      $('[name=commit]').trigger('click');
    });
  }
</script>