// Place all the styles related to the code_auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.authcode-form{
  line-height: 1.5em;
}

.authcode-box{
  border: 3px solid rgb(42, 160, 71);
  background-color: white;
}

.store-icon{
  max-height: 1.5rem;
  width:  100%;
  object-fit: contain;
}

.small-store-icon{
  max-height: 1rem;
  width:  100%;
  object-fit: contain;
}