#sizeLPrintPreview{
  border: 1px solid;
  width: 50%;
  height: 50%;
}

#sizeLDecaPrintPreview{
  border: 1px solid;
  width: 70%;
  height: 70%;
}

#size2LPrintPreview{
  border: 1px solid;
  width: 100%;
  height: 100%;
  margin: auto;
}

#size2LDecaPrintPreview{
  border: 1px solid;
  width: 100%;
  height: 100%;
  margin: auto;
}

.select-size-label{
  font-size: 1.2rem;
  small{
    font-size: 0.8rem !important;
  }
}

@media (max-width: 767px) {
  .select-size-label{
    font-size: 1rem;
    small{
      font-size: 0.5rem !important;
    }
  }
}
