html{
  min-height: 100vh;
}

body {
  font-family: 'Noto Sans JP', -apple-system, 'Segoe UI', 'Helvetica Neue',
    'Hiragino Kaku Gothic ProN', 'メイリオ', 'meiryo', 'sans-serif';
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #f4f6f9 !important;
  display: flex;
  flex-direction: column;
}

.wrapper{
  flex: 1;
  padding-bottom: 1rem;
}

.header-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container{
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  padding: 0 1.5rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-container{
  text-align: center;
  padding: 1.2rem 0.5rem;
  font-size: 0.9rem !important;
  color: #fff !important;
  background: #4d4d4d !important;
  width: 100%;
}

footer .copyright{
  font-size: 0.8rem;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer a {
  color: #fff;
  text-decoration: underline;
}

.nav-logo-frame{
  position: relative;
  height: 5rem;
  img{
    object-fit: contain;
    max-height: 60%;
  }
}

.top-logo-frame{
  position: relative;
  height: 6rem;
  text-align: center;
  img{
    object-fit: contain;
    max-height: 100%;
    width: 100%;
  }
}

.label-adjustment {
  margin-top: 8px;
}

.my-card-title {
  text-align: center;
  margin: 6% auto;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.y-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.y-center.width-max{
  width: 100%;
}

.yx-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.yx-center.width-max{
  width: 100%;
}

.pic-box {
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: white;
}

.margin-zero.pic-box {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.img-adjustment {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.display-name-parent {
  position: relative;
}

.display-name-child {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.ios-store {
  padding: 44px;
  width: 100%;
}

.android-store {
  padding: 0px;
  width: 100%;
}

@media screen and (max-width:575.98px) {
  header .btn a {
    font-size: 16px;
    padding: 6px 12px;
  }
  .ios-store {
    padding: 14px;
  }
  .android-store {
    padding: 0px;
    // margin: 4px 0;
  }
  .web-start {
    padding: 12px;
    margin: 8px 0;
  }
}

.app-link-sentent{
  background-color: #FFFCCD;
  color: #F00250;
  font-weight: bold;
  margin: 0;
}

.app-link-area{
  background-color: #FFFFFF;
}

.br-pc {
  display: block;
}
.br-sp {
  display: none;
}

@media (max-width: 767px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
}