<p><%= @resource.email %>様</p>

<p>マイ名刺のご利用ありがとうございます。</p>

<p>以下のリンクから本登録を行ってください。</p>

<p><%= link_to '本登録', user_confirmation_url(@resource, confirmation_token: @token) %></p>
<br>
<p>このメールに覚えがない場合、このメールを無視してください。</p>
<p>
  <small>SAMURAI SWORD inc.</small>
</p>