<p><%= @resource.email %>様</p>

<p>以下のリンクをクリックしてパスワード変更を行ってください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記のリンクからパスワードを変更するまで、パスワードの変更は行われません。</p>
<br>
<p>このメールに覚えがない場合、このメールを無視してください。</p>
<p>
  <small>SAMURAI SWORD inc.</small>
</p>