<% content_for :title do %>
登録名刺一覧
<% end %>


<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-6">
            <h1 class="m-0 text-dark">登録名刺一覧</h1>
          </div><!-- /.col -->
          <div class="col-md-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= top_path %>">トップ</a></li>
              <li class="breadcrumb-item active">登録名刺一覧</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <% if @image_info.present? %>
        <p class="text-center h5 mb-4">印刷する画像を選択</p>
        <div class="row">
          <% @image_info.each do |image| %>
          <div class="col-6 col-md-3 mb-4">
            <div>
              <%= image_tag "#{image[:url]}", data: { image_id: "#{image[:id]}" }, class: 'js-thumbnail-image', style: 'width:100%;height:100%;', alt: 'no_image' %>
            </div>
          </div>
          <% end %>
        </div>
        <!-- /.row -->
        <% else %>
        <p class="text-center h5 mb-4">登録された画像がありません</p>
        <% end %>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper-->

<div class="modal fade" id="printImageModal" tabindex="-1" role="dialog" aria-labelledby="printImageModal" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="py-3">
          <img id="modalImage" src="" style="width:100%;height:100%">
        </div>
      </div>
      <div class="modal-footer" style="justify-content: initial">
        <div class="d-flex align-items-center col-12">
          <div class="mr-auto print-image-button-group">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
          <div class="print-image-button-group">
            <button type="button" id="deleteImage" class="btn btn-danger">削除</button>
          </div>
          <div class="ml-2 print-image-button-group">
            <button type="button" id="sendImage" class="btn btn-primary">印刷</button>
          </div>
          <div class="mr-auto print-image-delete-button-group">
            削除しますか？
          </div>
          <div class="print-image-delete-button-group">
            <button type="button" id="deleteCancel" class="btn btn-secondary">&nbsp;戻る&nbsp;</button>
          </div>
          <div class="ml-2 print-image-delete-button-group">
            <button type="button" id="deleteConfirm" class="btn btn-danger">削除する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="py-3 text-center">
          名刺を削除しました。
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="py-3 text-center">
          名刺を削除できませんでした。<br>
          時間をおいて再度お試しください。
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    sessionStorage.clear();

    $('.js-thumbnail-image').on('click', function() {
      sessionStorage.setItem('picture_id', $(this).data('image-id'));
      $('#modalImage').attr('src', $(this).attr('src'));
      $('#printImageModal').modal('show');
    });

    $('#sendImage').on('click', function() {
      getImage();
    });

    $('#deleteImage').on('click', function() {
      showDeleteConfirm();
    });
    $('#deleteCancel').on('click', function() {
      hideDeleteConfirm();
    });

    $('#deleteConfirm').on('click', function() {
      deleteImage();
    });
  });

  function showDeleteConfirm() {
    let toggle = () => $('.print-image-delete-button-group').show(200);
    $('.print-image-button-group').hide(200, toggle);
  }

  function hideDeleteConfirm() {
    let toggle = () => $('.print-image-button-group').show(200);
    $('.print-image-delete-button-group').hide(200, toggle);
  }

  function getImage() {
    $.ajax({
      url: "<%= api_v1_img_history_path %>",
      type: "get",
      data: {
        id: sessionStorage.picture_id
      }
    }).done(function(data) {
      sessionStorage.setItem('edit_picture', data.image);
      window.location.href = `<%= select_size_path %>/${sessionStorage.getItem('picture_id')}`;
    });
  }

  function deleteImage() {
    $.ajax({
      url: "<%= api_v1_img_history_path %>",
      type: "delete",
      data: {
        id: sessionStorage.picture_id
      }
    }).done(function(data) {
      if (data.status) {
        $('#printImageModal').modal('hide');
        $(`[data-image-id=${sessionStorage.picture_id}]`).parent().parent().remove();
        $('#deleteModal').modal('show');
      } else {
        $('#printImageModal').modal('hide');
        $('#errorModal').modal('show');
      }
      hideDeleteConfirm();
    });
  }
</script>

<style>
  .print-image-delete-button-group {
    display: none;
  }
</style>