<div class="modal fade" id="deleteUserConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <br>
        <div class="">
          <div>
            アカウントを削除します。よろしいですか？
          </div>
          <small>
            アカウントを削除すると、保存した名刺データは使用できなくなります。
          </small>
        </div>

        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <button id="deleteUserConfirm" type="button" class="btn btn-danger">削除する</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#deleteUserConfirm').on('click', function(){
      sendForm();
    });

    function sendForm(){
      $('#deleteUserConfirmation').modal('hide');
      $('#deleteUserConfirmation').on('hidden.bs.modal', function(){
        $('#deleteUser').trigger('click');
        $("body").LoadingOverlay('show', {
          zIndex: 999
        });
      });
    }
  });
</script>