<footer class="footer-container">
  <div class="row">
    <div class="col-12">
      <span class="mx-1"><a href="<%= privacy_path %>">プライバシーポリシー</a></span>
      |
      <span class="mx-1"><a href="https://samuraisword.co.jp/" target="_new">会社概要</a></span>
      |
      <span class="mx-1"><a href="<%= inquiry_path %>">お問い合わせ</a></span>
    </div>
  </div>

  <div class="copyright"><br>&copy; SAMURAI SWORD inc. since 2019.</div>
</footer>