<div class="modal fade" id="logoutConfirmation" tabindex="-1" role="dialog" aria-labelledby="logoutModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <br>
        <div class="text-center">ログアウトしてよろしいですか？</div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        <%= link_to 'YES', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>