<!-- Navbar -->
<nav class="navbar-light border-bottom">
  <div class="header-container">
    <a href="<%= top_path %>" class="h4 text-light nav-logo-frame">
      <%= image_tag("business_card_print_logo.png", class: 'y-center') %>
    </a>
    <% case controller.controller_name %>
    <% when 'privacy' %>
    <% else %>
      <% if current_user.present? %>
        <div class="header-menu">
          <div class="dropdown">
            <button type="button" class="btn btn-link text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user fa-2x"></i></button>
            <div class="dropdown-menu dropdown-menu-right" alia-labelledby="dropdown">
              <%= link_to 'アカウント編集', edit_user_registration_path, method: :get, class: 'dropdown-item' %>
              <a href="" class="dropdown-item" data-toggle="modal" data-target="#logoutConfirmation">ログアウト</a>
            </div>
          </div>
        </div>
      <% else %>
        <div class="header-menu">
          <small><%= link_to '新規登録', new_user_registration_path, method: :get, class: 'text-dark mr-3' %></small>
          <small><%= link_to 'ログイン', new_user_session_path, method: :get, class: 'text-dark'  %></small>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>

<%= render partial: 'layouts/logout_modal' %>