<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? "#{yield(:title)} | マイ名刺" : 'マイ名刺' %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GE54FNEL95"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-GE54FNEL95');
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i){
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KDF8955');
    </script>
    <!-- End Google Tag Manager -->

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;subset=cyrillic,hebrew,latin-ext" rel="stylesheet">

    <% unless ENV['DOMAIN'] == 'www.mymeishi.net' %>
      <meta name="robots" content="noindex">
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="「名刺忘れた・・・」こういった経験・・ございませんか？
『マイ名刺』なら自分の名刺をコンビニでプリントする事が出来ます！
さらに全国のコンビニ約58000店舗でご利用可能で登録は無料！
『マイ名刺』で機会損失を一緒に倒しませんか？" />

    <meta property="og:title" content="コンビニ名刺プリント『マイ名刺』、全国のコンビニ約58,000店舗で利用可能！" />
    <meta property="og:type" content="<%= controller.controller_name == 'lp' ? 'website' : 'article' %>" />
    <meta property="og:description" content="「名刺忘れた・・・」こういった経験・・ございませんか？
『マイ名刺』なら自分の名刺をコンビニでプリントする事が出来ます！
さらに全国のコンビニ約58000店舗でご利用可能で登録は無料！
『マイ名刺』で機会損失を一緒に倒しませんか？" />
    <meta property="og:url" content="https://www.mymeishi.net" />
    <meta property="og:site_name" content="マイ名刺" />
    <meta property="og:image" content="<%= image_path('ogp_image.jpg') %>" />
    <meta name="twitter:card" content="summary_large_image">

    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>">
    <script>
      const OS = navigator.userAgent;
    </script>

  </head>
  <body class="<%= body_class %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDF8955" height="0" width="0" style="display: none;visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% case controller.controller_name %>
    <% when 'lp' %>
    <% else %>
      <%= render partial:'layouts/navibar' %>
    <% end %>
    <%= yield %>
    <%= render partial:'layouts/footer' %>
  </body>
</html>
